.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #fff;
        h2 {
            margin-bottom: 0;
        }
        &:hover {
            color: $first_color;
            transition: 0.3s all;
        }
    }
    &__list-wrapper {
        display: flex;
        justify-content: center;
    }
    &__list {
        display: flex;
        gap: 40px;
        list-style-type: none;
        padding-left: 0;
        text-align: center;
        margin-bottom: 0;
        @include text_style;
        li {
            &:hover {
                color: $first_color;
                transition: 0.3s all;
            }
        }
    }
    &__account {
        cursor: pointer;
        &:hover {
            color: $first_color;
            transition: 0.3s all;
        }
        @include text_style;
        &-wrapper {
            display: flex;
            gap: 8px;
        }
    }
}