.section-number {
    font-weight: 700;
    font-size: 240px;
    line-height: 100%;
    color: #fff;
    position: absolute;
    // top: -130px;
    // left: -150px;
    top: 10px;
    left: 5px;
    opacity: 0.3;
    letter-spacing: -15px;
}